body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.header-image {
    width: calc(100% - 40px);
    height: 100vh;
    display: flex;
    padding: 20px 20px 20px;
    align-items: flex-end;
    justify-content: right;
    background-image: url(/pic/background2.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.header-content {
    position: relative;
    z-index: 5;
    text-align: right;
    color: #000000;
    width: 100%;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

.middle{
    position: relative;
    text-align: left;

}

.header-content h1 {
    margin-bottom: 0;
}

.header-content h2 {
    margin-top: 5px;
    font-weight: normal;
}

.main {
    background-color: #99E1D9;
    width: calc(100% - 40px);
    text-align: center;
    font-family: cursive;
    padding: 20px 20px 20px 20px;
    
}

.real_content{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #BBDBB4;

}

.text {
    background-color: #FFFAE3;
    text-align:center;
    width:50vw;
    
}

.image {
    width:50vw;
}
